/*******************
Header Styling
*******************/

header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 8em;  /*making it so all of the header is visible above text*/
	margin: 0px;
	width: 100%;
	background-color: #efefef;	
	padding: 2.5%;
}

h1 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;

}



/*******************
SECTION STYLING
*******************/
h2 {
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Corben', sans-serif;
	font-size: .9em;
}

li {
	list-style: none;
	text-align: left;
}



/*******************
SECTION STYLING
*******************/
h2 {
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Corben', sans-serif;
	font-size: .9em;
}



li {
	list-style: none;
	text-align: left;
	font-family: 'Corben', sans-serif;
	font-size: .9em;
}


section {
	margin-top: 5em;  /*/making it so start of text is always visible even as it scrolls under*/
	margin-bottom: 5em;
}


/*******************
FOOTER STYLING
*******************/
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 2em;
	margin: 0px;
	width: 100%;
	background-color: #efefef;	
}

body {
...
	overflow-x: hidden;
...
}



/*******************
NAV STYLING OPEN & CLOSED
*******************/


/*For when the hamburger is NOT clicked*/


/*For when the hamburger is clicked*/
nav {
	margin: -900px;
	z-index: 0;
}



.recipeMenuOpen {
	left: 0px;
	top: 0px;
	margin: 0px;
	position: fixed;
	z-index: 200;
	width: 70%;
	margin-top: 9em;
	height: 100%;
	background-color: #efefef;
	...
}

nav ul {
	text-align: left;
	padding: 0 1em;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	font-size: 1.5em;
}

nav h2 {
	padding: 3em 1em;
}



