.name {
	position: fixed;
	top: 0px;
	left: 0px;
	
	margin: 0px;
	width: 100%;
	background-color: #efefef;	
}

h1 {
	margin: 0;
}

article {
	margin-top: 100px;
}


.svg-menu {
	position: absolute;
	left: 0;
	top: 0.25em;
	width: 1em;
	height: 0.15em;
}




